@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.eot");
  src: url("/fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato/Lato-Regular.woff") format("woff"), url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal, 400;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.eot");
  src: url("/fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato/Lato-Bold.woff") format("woff"), url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold, 700;
}
body,
html {
  height: 100%;
  color: #000;
}

body {
  font-family: Lato, sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type=button] {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.image-box {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  min-width: 30px;
  max-width: 100%;
  height: auto;
  min-height: 30px;
  vertical-align: top;
  font-size: 0;
}

.image-box img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.heading {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  margin: 0;
}

.title {
  color: #000;
  margin-bottom: 63px;
  font-size: 36px;
  font-weight: 600;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.sr-only {
  display: none;
}

.header {
  position: absolute;
  top: auto;
  z-index: 1000;
  width: 100%;
  color: #fff;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.header__right {
  display: flex;
}
.header__language {
  min-height: 32px;
}
.header__button {
  min-width: 100px;
  padding: 11px 25px;
  background-image: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
}
.nav__link {
  margin-right: 20px;
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
}
.nav__link:hover {
  text-decoration: underline;
  transition: 0.2s ease-in-out all;
}

.main {
  margin-top: -21px;
}

.welcome {
  position: relative;
  min-height: 100vh;
  background: url("/images/png/welcome.jpg") no-repeat;
  z-index: 1;
}
.welcome__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 100;
}
.welcome__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.welcome__subtitle {
  width: 49%;
  padding-bottom: 39px;
  text-align: center;
  color: #fff;
}
.welcome__button {
  min-width: 160px;
  padding: 17px 50px;
  font-size: 14px;
  font-weight: 600;
  color: #ed4c5c;
  border-radius: 6px;
}
.welcome__button:hover {
  background-color: #E12134;
  color: #fff;
  transition: 0.2s ease-in-out all;
}

.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  z-index: 10;
}

.about__container {
  display: flex;
  padding-top: 95px;
  padding-bottom: 95px;
}
.about__desc {
  width: 42%;
  margin-right: 90px;
}
.about__title {
  padding: 50px 0;
  font-family: Lato;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
.about__text {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.about__link {
  color: #ed4c5c;
  font-weight: 400;
  font-size: 14px;
}
.about__video {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.about__button {
  position: absolute;
  top: 125px;
  left: -30px;
  min-width: 66px;
  min-height: 66px;
  background: #ed4c5c 18px 18px url("/images/png/PlaySolid(SVG).png") no-repeat;
  background-position: center;
  border-radius: 50px;
  text-align: center;
}

.features {
  background-color: #fafafa;
}
.features__container {
  padding-top: 63px;
  min-height: 100%;
  padding-bottom: 229px;
}
.features__title {
  text-align: center;
}
.features__list {
  display: flex;
  justify-content: space-between;
}
.features__elem {
  position: relative;
  width: 31%;
}
.features__under {
  min-height: 250px;
  border-radius: 8px;
}
.features__desc {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -135px;
  width: 80%;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.features__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}
.features__text {
  padding: 10px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #101010;
}
.features__link {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #ed4c5c;
}

.technology__container {
  padding-top: 63px;
  padding-bottom: 108px;
}
.technology__title {
  margin-bottom: 52px;
  text-align: center;
  font-family: Lato;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000;
}
.technology__list {
  display: flex;
  justify-content: space-around;
  counter-reset: section;
}
.technology__elem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 24%;
  text-align: center;
}
.technology__elem::before {
  counter-increment: section;
  content: "0" counters(section, ".");
  font-size: 100px;
  color: rgba(16, 16, 16, 0.08);
}
.technology__picture {
  position: absolute;
  padding-bottom: 10px;
}
.technology__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 13px;
}
.technology__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.order {
  background: #ED4C5C;
}
.order__container {
  display: flex;
  justify-content: flex-start;
  padding: 95px 0;
}
.order__desc {
  width: 40%;
  margin-right: 81px;
}
.order__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
}
.order__text {
  padding-top: 50px;
  padding-bottom: 44px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.order__list {
  display: flex;
  align-items: center;
}
.order__elem {
  min-height: 24px;
  min-width: 24px;
  padding-right: 25px;
}
.order__elem:last-child {
  padding-right: 0;
}

.contact__container {
  display: flex;
  justify-content: space-between;
  padding-top: 115px;
  padding-bottom: 115px;
}
.contact__desc {
  width: 40%;
}
.contact__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.contact__form {
  width: 50%;
}
.contact__form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
.contact__input-wrap {
  width: 100%;
}
.contact__label {
  padding-right: 25px;
}
.contact__input[type=text] {
  width: 45%;
  padding: 20px 31px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
}
.contact__input[type=tel] {
  width: 95%;
  padding: 20px 31px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
}
.contact__select {
  width: 95%;
  padding: 20px 30px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
}
.contact__option {
  display: inline-block;
  width: 45%;
  padding: 20px 30px;
  margin-right: 25px;
  color: #ed4c5c;
  border: 1px solid #ed4c5c;
  box-sizing: border-box;
  border-radius: 6px;
}
.contact__label--option {
  display: inline-block;
  cursor: pointer;
  padding-right: 90px;
  line-height: 0.7;
  -webkit-user-select: none;
          user-select: none;
}
.contact__option input[tyoe=radio]:checked + label {
  background-color: #ed4c5c;
  color: #fff;
}
.contact__button {
  min-width: 160px;
  padding: 17px 34px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  background-color: #ed4c5c;
  color: #fff;
  border-radius: 6px;
}

.footer {
  background-color: #fafafa;
}
.footer__container {
  padding: 85px 0;
}
.footer__page {
  padding-bottom: 85px;
}
.footer__list {
  display: flex;
}
.footer__elem {
  width: 40%;
  padding-right: 30px;
}
.footer__elem:last-child {
  padding-right: 0;
}
.footer__title {
  padding-bottom: 33px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.address__text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.services__list {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
}
.services__elem:hover {
  text-decoration: underline;
}

.connect {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.connect__link {
  margin-bottom: 11px;
}
.connect__list {
  display: flex;
}
.connect__elem {
  margin-right: 10px;
}

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.pop {
  position: fixed;
  top: 10%;
  left: 30%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35%;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 50px;
  z-index: 100;
}
.pop__picture {
  width: 120px;
  height: 120px;
  margin: 0 185px 20px 185px;
}
.pop__desc {
  text-transform: uppercase;
  line-height: 1;
}
.pop__title {
  font-size: 48px;
  font-weight: 700;
  color: #ed4c5c;
}
.pop__subtitle {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 6px;
}
.pop__text {
  padding: 15px 0;
}
.pop__button {
  min-width: 160px;
  padding: 17px 34px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  background-color: #ed4c5c;
  color: #fff;
  border-radius: 6px;
}