.about {
    

    &__container {
        display: flex;
        margin-top: 95px;
        margin-bottom: 95px;
        
    }

    &__desc {
        width: 42%;
        margin-right: 90px;
    }

    &__title {
        margin: 50px 0;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
    }

    &__text {
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &__link {
        color: #ed4c5c;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }

    &__video {
        background: 80% 80% url('/images/png/Video_bg.png') no-repeat;
        background-position: center;
        height: 311px;
        width: 445px;
    }

    &__button {
        position: relative;
        top: 125px;
        left: -30px;
        width: 66px;
        height: 66px;

        background: #ed4c5c 18px 18px url('/images/png/PlaySolid\(SVG\).png') no-repeat;
        background-position: center;
        border-radius: 50px;
        text-align: center;

    }


}