.about {
    

    &__container {
        display: flex;
        padding-top: 95px;
        padding-bottom: 95px;
        
    }

    &__desc {
        width: 42%;
        margin-right: 90px;
    }

    &__title {
        padding: 50px 0;
        font-family: Lato;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
    }

    &__text {
        padding-bottom: 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &__link {
        color: #ed4c5c;

        font-weight: 400;
        font-size: 14px;
    }

    &__video {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__button {
        position: absolute;
        top: 125px;
        left: -30px;
        min-width: 66px;
        min-height: 66px;

        background: #ed4c5c 18px 18px url('./images/png/PlaySolid\(SVG\).png') no-repeat;
        background-position: center;
        border-radius: 50px;
        text-align: center;

    }


}