.features {
    background-color: #fafafa;

    &__container {
        padding-top: 63px;
        min-height: 100%;
        padding-bottom: 229px;
    }

    &__title {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__elem {
        position: relative;
        width: 31%;
    }

    &__under {
        min-height: 250px;
        border-radius: 8px;
    }

    &__desc {
        position: absolute;
        top: 60%;
        left: 50%;
        margin-left: -135px;
        width: 80%;

        padding: 30px;
        text-align: center;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #101010;
    }

    &__text {
        padding: 10px 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #101010;
    }

    &__link {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        color: #ed4c5c;
    }
}