.header {
    position: absolute;
    top: auto;
    z-index: 1000;
    width: 100%;
    color: #fff;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
    }

    &__right {
        display: flex;
    }

    &__language {
        height: 32px;
    }

    &__login {
        width: 100px;
        padding: 11px 25px;
        background-image: none; 
        background: transparent;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #fff;
        
    }
}