.technology {

    &__container {
        padding-top: 63px;
        padding-bottom: 108px;
    }

    &__title {
        margin-bottom: 52px;
        text-align: center;
        font-family: Lato;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #000;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        counter-reset: section;
    }

    &__elem {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        width: 24%;
        text-align: center;  
    }

    &__elem::before {
        counter-increment: section;  
        content: '0' counters(section,"."); 
        
        font-size: 100px;
        color: rgba(16, 16, 16, 0.08);
    }

    &__picture {
        position: absolute;
        padding-bottom: 10px;
    }

    &__name {

        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 13px;
    }

    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
}